@charset "utf-8";
body{font:9pt Tahoma,sans-serif;}
ol{list-style:none;}
ul{list-style:none;}
li{list-style:none;}

    #selectable .ui-selecting{background:#FECA40;}
    #selectable .ui-selected{background:#F39814; color:white;}
    #selectable{list-style-type:none; margin:0; padding:0; width:100%;}
    #selectable li{margin:3px; padding:0.4em; font-size:1.4em; border:1px solid #888}
    #okbut {background-image:url("../images/system/ok.png"); background-repeat: no-repeat; height: 32px; width: 32px; position: absolute; cursor:pointer;}
    #okbut:hover {background-image:url("../images/system/ok_hover.png"); }
    #skipbut {background-image:url("../images/system/skip.png"); background-repeat: no-repeat; height: 32px; width: 32px;position: relative; left: 80px;cursor:pointer;}
    #skipbut:hover {background-image:url("../images/system/skip_hover.png"); background-repeat: no-repeat; height: 32px; width: 32px;}
    #nextbut {background-image:url("../images/system/next_hover.png"); background-repeat: no-repeat; height: 32px; width: 32px; position: relative; left: 40px; top:-50px; visibility: hidden;}
    #nextbut:hover {background-image:url("../images/system/next.png"); background-repeat: no-repeat; height: 32px; width: 32px;}
    /*.answers{width:800px;}*/
    /*.buttons{position: relative;}*/
    #sortable{list-style-type:none; margin:0; padding:0; width:100%;}
    #sortable li{margin:3px; padding:0.4em; font-size:1.4em; background-color:#fff; border:1px solid #888}
    #container{width:95%; border:2px solid #ccc; padding:10px;}
    #leftpanel li{ width: 500px; margin:3px; padding:0.4em; font-size:1.4em; border:1px solid #888}
    #question {font-size:1.4em; }
    #line{position: relative; width: 355px; text-align: right; }
    #arrow{position: relative; left: 405px; top:-15px; width: 65px;}
    #select{left: 490px;position: relative;top: -35px;width: 213px;}
    #res-category{background:#F4C239; margin-bottom: 5px; padding:5px;font-size:11pt; font-style: italic; text-align: left;}
    #res-title{background:#50505B;padding:5px;margin-bottom: 5px;font-size:12pt;color: #ffffff;}
    #start-btn{background:#047fac;width: 373px; cursor:pointer; font-size: 25pt; color: #ffffff; padding-top: 10px;padding-bottom: 10px;}
    #start-btn:hover{color: #82251e;}
    #res-body{margin-top: 20px; text-align: center;}
    #muliply li{width:98%; margin:3px; padding:0.4em; font-size:1.4em; border:1px solid #888;text-align: left;}
     
    
